<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EmployeeDAL.Properties.Settings.PayrollEntities" connectionString="Data Source=LAPTOP-DFE930V3\SQLEXPRESS;Initial Catalog=JRPayroll;Persist Security Info=True;User ID=payroll_user;Password=payrolluser"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>